gh.exe
*.nbc
*.nbi
*.pyc
*.pyc
metalib/__pycache__/metagomano.cpython-313.pyc
metalib/__pycache__/metagomano.cpython-313.pyc
/metalib/logs/
/metalib/historical_merged_deals.pkl
/metalib/notebooks/position_sizings.py
